<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <title>Upload súborov</title>
  <script src="/js/postrequest.js"></script>
  <script src="/js/searchrequest.js"></script>
  <script src="/js/getrequest.js"></script>
  <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
<div id="page-container">
  <nav>
    <ul class="menu">
      <li style="float: left;"><a href="doc.html"> <img src="../STU-ncnv.png" alt="index" style="height:80px;"></a></li>
      <li style="float: left;"><a class="titlemenu" href="doc.html">Hlavná stránka</a></li>
    </ul>
  </nav>
  <section>
    <div id="content">
      <article class="stredny">

          <form id="searchForm">
            <div class="form-group" style="padding:5px;margin-left: 10%">
              <span style="font-family: Helvetica" >ID: </span>
              <br />
              <select name="id" class="form-control" style="width:205px" id="id">
                <option th:each="id: ${ids}"
                        th:value="${id}"
                        th:text="${id}"></option>
              </select>
            </div>

            <div class="form-group" style="padding:5px;margin-left: 10%">
              <label style="font-family: Helvetica" for="docName">Document name: </label>
              <br />
              <input style="width:200px" type="text" class="form-control" id="docName" placeholder="Enter document name" name="docName">
            </div>

            <div class="form-group" style="padding:5px; margin-left: 10%">
              <span style="font-family: Helvetica">Document type: </span>
              <br />
              <select style="width:205px" name="docType" class="form-control" id="docType">
                <option th:each="type: ${types}"
                        th:value="${type}"
                        th:text="${type}"></option>
              </select>
            </div>

            <div class="form-group" style="padding:5px; margin-left: 10%">
              <label style=" font-family: Helvetica" for="size" >Document size: </label>
              <br />
              <input style="width:200px" type="number" class="form-control" id="size" name="size">
            </div>
            <button style="margin-left: 10%;; font-family: Helvetica; width: 300px" type="submit" class="btn btn-primary">Search</button>
            <div id="getResult" style="padding: 20px 10px 20px 50px">
                <ul class="list-group">
                </ul>
              </div>
          </form>
          <br />

       <div>
         <h3 style="margin-left: 10%; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" >Upload fotiek</h3>
         <form style="margin-left: 10%" id="uploadFiles" name="uploadFiles" method="post" th:action=@{/uploadFiles} encType="multipart/form-data">
           <input type="file" name="files" multiple required />
           <button style="margin-right: 50px" type="submit">Odošli</button>
         </form>
       </div>
          <div class="col-sm-7" style="margin: 20px 0px 20px 0px">
            <button style="margin-left: 10%; width: 300px" id="getALlDatas" type="button" class="btn btn-primary">Get All Files</button>
            <div id="getResultDiv" style="padding: 20px 10px 20px 50px">
              <ul class="list-group">
              </ul>
            </div>
          </div>

      </article>
    </div>
  </section>
  <footer>
    <p>Author: Ján Vladár </p>
    <p>Email: xvladar@stuba.sk</p>
  </footer>
</div>

</body>
</html>